.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0% { box-shadow: 0 0 0.2rem 0.2rem #b853c150; }
  25% { box-shadow: 0 0 0.2rem 0.2rem #c1535350; }
  50% { box-shadow: 0 0 0.2rem 0.2rem #c1935350; }
  75% { box-shadow: 0 0 0.2rem 0.2rem #bcc15350; }
  100% { box-shadow: 0 0 0.2rem 0.2rem #5386c150; }
}

#root {
  width: 100vw;
  background-color: #1c1c1c;
  color: #cacaca99;
  font-size: 1.3rem;
  font-family:"M PLUS Rounded 1c", sans-serif;
}

.hero-banner {
  width: 100vw;
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.hero-banner .texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Syne", sans-serif;
  margin-left: 5rem;
}

.hero-banner .texts .logo {
  display: flex;
  font-size: 2rem;
}

.hero-banner .texts .logo i {
  font-size: 1em;
}

.hero-banner .texts .logo-text {
  white-space: nowrap;
  font-size: 0.85rem;
  font-weight: 800;
  margin-left: 0.2rem;;
}

.sequencer {
  width: 95vw;
  margin: 5rem;
  margin-left: 5rem;
}

.dropdown {
  width: 12rem;
  height: 2.5rem;
  background-color: #1c1c1c;
  border-radius: 0.2em;
  color: #cacaca99;
  padding: 0.3rem;
  box-shadow: 0 0 0.2rem 0.25rem #b853c150;
  animation: glow 15s infinite alternate;
}

.dropdown option {
  width: 12rem;
  height: 2.5rem;
  background-color: #1c1c1c;
  color: #cacaca99;
  padding: 0.5rem;
}

.instrument-settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 28rem;
  height: 8rem;
  gap: 1rem;
  padding: 1rem;
  border: 0.1rem solid #1c1c1c;
  box-shadow: 0 0 0.2rem 0.25rem #b853c150;
  animation: glow 15s infinite alternate;
}

.instrument-settings .name {
  font-size: larger;
  font-weight: 400;
}

.drum-settings {
  width: 28rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
  box-shadow: 0 0 0.2rem 0.25rem #b853c150;
  animation: glow 15s infinite alternate;
}

.drum-settings .name {
  width: 10rem;
}

.drum-settings .mute-button {
  width: 1rem;
  cursor: pointer;
}

i {
  cursor: pointer;
}

i:hover {
  color: #e6e6e6;
}

.drum-bar {
  width: 1.5rem;
  height: 3rem;
  border: 1px solid #cacaca99;
  cursor: pointer;
}
