html, body {
  overflow-x: hidden;
  font-size: 0.75rem;
}

/* Chrome, Edge, Safari */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

i {
  cursor: pointer;
}

i:hover {
  color: #e6e6e6;
}

::-webkit-scrollbar {
    width: 10px;   
    height: 6px;  
}

::-webkit-scrollbar-track {
    background: #1c1c1c;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #cacaca50;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cacaca50;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes glow {
  0% { box-shadow: 0 0 0.2rem 0.15rem #c1935350; }
  33% { box-shadow: 0 0 0.2rem 0.15rem #c1535350; }
  66% { box-shadow: 0 0 0.2rem 0.15rem #bcc15350; }
  100% { box-shadow: 0 0 0.2rem 0.15rem #5386c150; }
}

@keyframes glow-notes {
  0% { border: 1px solid #c1935350; }
  33% { border: 1px solid #c1535350; }
  66% { border: 1px solid #bcc15350; }
  100% { border: 1px solid #5386c150; }
}

#root {
  width: 100vw;
  background-color: #1c1c1c;
  color: #cacaca99;
  font-size: 1.3rem;
  font-family:"M PLUS Rounded 1c", sans-serif;
}

.hero-banner {
  position: relative;
  width: 100vw;
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  margin-top: 0;
  align-self: stretch;
  overflow: hidden;
  z-index: 0;
}

.hero-banner .hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: 1;
  filter: brightness(0.7);
}

.hero-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.hero-content .texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Syne", sans-serif;
  margin-left: 5rem;
}

.hero-content .texts .logo {
  width: 12rem;
  height: 3rem;
}

.hero-content .texts .logo-text {
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 800;
  margin-left: 0.2rem;;
}

.hero-content .graph {
  width: 800px;
  height: 100%;
  margin-left: 15vw;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  gap: 2rem;
  background-color: #131212;
  border: 0.2rem solid black;
  z-index: 2;
}

.nav-bar .nav-section1 {
  width: 15vw;
  display: flex;
  justify-content: start;
  padding-left: 6rem;;
}

.nav-bar .nav-section2 {
  width: 25vw;
}

.nav-bar .nav-section3 {
  width: 60vw;
}

.file-dropdown {
  position: relative;
  color: white;
}

.file-dropdown .content {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 10rem;
  background-color: #131212;
  box-shadow: 0 0 1rem 1rem rgba(0,0,0,0.2);
  z-index: 1;
}

.file-dropdown .content .option {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  height: 3rem;
  cursor: pointer;
}

.file-dropdown .content .option:hover {
  background-color: #2e2e2e6f;
}

.radio-inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  height: 2.5em;
  padding: 0.1em;
  margin-left: auto;
  margin-right: 5rem;;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
  width: 7rem;
}

.radio-inputs .radio input {
  display: none;
  width: 1.8rem;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: white;
  transition: all .15s ease-in-out;
}

.radio-inputs .radio .name:hover {
  background-color: #2e2e2e6f;
}

.radio-inputs .radio input:checked + .name {
  background-color: #131212;
  height: 2.4rem;
  animation: glow 15s infinite alternate;
}

.radio-inputs .radio input:checked + .name:hover {
  background-color: #2e2e2e6f;
}

.slider {
  /* slider */
  --slider-width: 100%;
  --slider-height: 0.3rem;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 100rem;
  /* level */
  --level-color: #fff;
  --level-transition-duration: .1s;
}

.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  -webkit-box-shadow: -10rem 0 0 10rem var(--level-color);
  box-shadow: -10rem 0 0 10rem var(--level-color);
}

.slider:hover .level {
  height: calc(var(--slider-height) * 2);
}

.global-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem;
}

.value-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  animation: glow 15s infinite alternate;
}

.value-input {
  outline: none;
  box-shadow: none;
  text-align: center;
  color: white;
  background-color: #cacaca20;
  border: transparent;
  height: 2.4rem;
  width: 4rem;
}

.value-button {
  height: 2.4rem;
  width: 2.6rem;
  padding: 0.6rem;
}

.value-button:hover {
  background-color: #2e2e2e6f;
}

.sequencer {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1.5vw;
  gap: 0.5rem;
}

.dropdown {
  width: 12rem;
  height: 2.5rem;
  background-color: #1c1c1c;
  border-radius: 0.2em;
  color: #cacaca99;
  padding: 0.3rem;
  margin-right: 1rem;
  animation: glow 15s infinite alternate;
}

.dropdown option {
  width: 12rem;
  height: 2.5rem;
  color: #cacaca99;
  padding: 0.5rem;
}

.instrument-settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30rem;
  height: 11rem;
  border-radius: 0.5rem;
  gap: 1.2rem;
  padding: 0.5rem;
  animation: glow 15s infinite alternate;
}

.instrument-settings .name {
  font-size: larger;
  font-weight: 400;
}

.instrument-settings i:hover {
  color: #cacaca99 !important;
}

.track-settings {
  width: 30rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  margin-right: 2rem;
  flex-shrink: 0;
  animation: glow 15s infinite alternate;
}

.track-settings .name {
  width: 10rem;
}

.track-settings .mute-button {
  width: 1rem;
  cursor: pointer;
}

.note-settings {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35rem;
  height: 11rem;
  border-radius: 0.5rem;
  gap: 1.2rem;
  padding: 0.5rem;
  margin-left: auto;
  animation: glow 15s infinite alternate;
}

.note-settings .name {
  font-size: larger;
  font-weight: 400;
}

.note-settings .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.note-settings i:hover {
  color: #cacaca99 !important;
}

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.radio-wrapper {
  margin-bottom: 0rem;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-checkmark {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #cacaca99;
  border-radius: 50%;
}

.radio-checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #cacaca99;
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-label {
  margin-bottom: 0rem;
}

.bar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.bar-buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  flex-shrink: 0;
  animation: glow 15s infinite alternate;
  transition: all .10s ease-in-out;
}

.bar-buttons .button:hover {
  color: #cdcdcd;
  background-color: #2e2e2e6f;
}

.notes {
  display: flex;
  gap: 0.1rem;
  overflow-x: auto;
}

.note {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 1.5rem;
  height: 3rem;
  margin-bottom: 0.2em;
  border: 1px solid #cacaca50;
  cursor: pointer;
}

.note i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1rem;
  color: black;
  cursor: pointer;
}

.note i:hover {
  color: dimgray;
}
